<div class="row">

    <div class="col-md-2">
        <main role="main" class="container">
            <h1>Titles</h1>

                <% @articles.each do |article| %>
                    <p>
                    <a href="/show/<%= article.id %>">
                        <%= article.title %>
                    </a>
                    </p>
                <% end %>
        </main>
    </div>

    <div class="col-md-2">
        <main role="main" class="container">
            <h1>Author</h1>

                <% @articles.each do |article| %>
                    <p><%= article.author %></p>
                <% end %>
        </main>
    </div>

    <div class="col-md-2">
        <main role="main" class="container">
            <h1>Date</h1>

                <% @articles.each do |article| %>
                    <p><%= article.article_date %></p>
                <% end %>
        </main>
    </div>

    <div class="col-md-2">
        <main role="main" class="container">
            <h1>Modify</h1>

                <% @articles.each do |article| %>
                    <p><a href="/modify/<%= article.id %>">Modify</a></p>
                <% end %>
        </main>
    </div>


</div>
